/*栅格系统*/
/*.container-fluid{ width:100%}
.container {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
@media ( min-width : 768px) {
	.container {width: 750px}
}
@media ( min-width : 992px) {
	.container {width: 970px}
}
@media ( min-width : 1200px) {
	.container {width: 1170px}
}
@media ( min-width : 1300px) {
	.container {width: 1270px}
}
@media ( min-width : 1400px) {
	.container {width: 95%}
}
@media print{
	.container{width:auto}
}*/
.row.cl{}
.row{box-sizing:border-box; margin-left:-15px; margin-right:-15px}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {min-height: 1px;position: relative; box-sizing:border-box;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;}
.col-xs-12 {width: 100%}
.col-xs-11 {width: 91.66666667%}
.col-xs-10 {width: 83.33333333%}
.col-xs-9 {width: 75%}
.col-xs-8 {width: 66.66666667%}
.col-xs-7 {width: 58.33333333%}
.col-xs-6 {width: 50%}
.col-xs-5 {width: 41.66666667%}
.col-xs-4 {width: 33.33333333%}
.col-xs-3 {width: 25%}
.col-xs-2 {width: 16.66666667%}
.col-xs-1 {width: 8.33333333%}
.col-xs-pull-12 {right: 100%}
.col-xs-pull-11 {right: 91.66666667%}
.col-xs-pull-10 {right: 83.33333333%}
.col-xs-pull-9 {right: 75%}
.col-xs-pull-8 {right: 66.66666667%}
.col-xs-pull-7 {right: 58.33333333%}
.col-xs-pull-6 {right: 50%}
.col-xs-pull-5 {right: 41.66666667%}
.col-xs-pull-4 {right: 33.33333333%}
.col-xs-pull-3 {right: 25%}
.col-xs-pull-2 {right: 16.66666667%}
.col-xs-pull-1 {right: 8.33333333%}
.col-xs-pull-0 {right: auto}
.col-xs-push-12 {left: 100%}
.col-xs-push-11 {left: 91.66666667%}
.col-xs-push-10 {left: 83.33333333%}
.col-xs-push-9 {left: 75%}
.col-xs-push-8 {left: 66.66666667%}
.col-xs-push-7 {left: 58.33333333%}
.col-xs-push-6 {left: 50%}
.col-xs-push-5 {left: 41.66666667%}
.col-xs-push-4 {left: 33.33333333%}
.col-xs-push-3 {left: 25%}
.col-xs-push-2 {left: 16.66666667%}
.col-xs-push-1 {left: 8.33333333%}
.col-xs-push-0 {left: auto}
.col-xs-offset-12 {margin-left: 100%}
.col-xs-offset-11 {margin-left: 91.66666667%}
.col-xs-offset-10 {margin-left: 83.33333333%}
.col-xs-offset-9 {margin-left: 75%}
.col-xs-offset-8 {margin-left: 66.66666667%}
.col-xs-offset-7 {margin-left: 58.33333333%}
.col-xs-offset-6 {margin-left: 50%}
.col-xs-offset-5 {margin-left: 41.66666667%}
.col-xs-offset-4 {margin-left: 33.33333333%}
.col-xs-offset-3 {margin-left: 25%}
.col-xs-offset-2 {margin-left: 16.66666667%}
.col-xs-offset-1 {margin-left: 8.33333333%}
.col-xs-offset-0 {margin-left: 0}
@media(min-width:768px){
	.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
	.col-sm-12{width:100%}
	.col-sm-11{width:91.66666666666666%}
	.col-sm-10{width:83.33333333333334%}
	.col-sm-9{width:75%}
	.col-sm-8{width:66.66666666666666%}
	.col-sm-7{width:58.333333333333336%}
	.col-sm-6{width:50%}
	.col-sm-5{width:41.66666666666667%}
	.col-sm-4{width:33.33333333333333%}
	.col-sm-3{width:25%}
	.col-sm-2{width:16.666666666666664%}
	.col-sm-1{width:8.333333333333332%}
	.col-sm-pull-12{right:100%}
	.col-sm-pull-11{right:91.66666666666666%}
	.col-sm-pull-10{right:83.33333333333334%}
	.col-sm-pull-9{right:75%}
	.col-sm-pull-8{right:66.66666666666666%}
	.col-sm-pull-7{right:58.333333333333336%}
	.col-sm-pull-6{right:50%}
	.col-sm-pull-5{right:41.66666666666667%}
	.col-sm-pull-4{right:33.33333333333333%}
	.col-sm-pull-3{right:25%}
	.col-sm-pull-2{right:16.666666666666664%}
	.col-sm-pull-1{right:8.333333333333332%}
	.col-sm-pull-0{right:0}
	.col-sm-push-12{left:100%}
	.col-sm-push-11{left:91.66666666666666%}
	.col-sm-push-10{left:83.33333333333334%}
	.col-sm-push-9{left:75%}
	.col-sm-push-8{left:66.66666666666666%}
	.col-sm-push-7{left:58.333333333333336%}
	.col-sm-push-6{left:50%}
	.col-sm-push-5{left:41.66666666666667%}
	.col-sm-push-4{left:33.33333333333333%}
	.col-sm-push-3{left:25%}
	.col-sm-push-2{left:16.666666666666664%}
	.col-sm-push-1{left:8.333333333333332%}
	.col-sm-push-0{left:0}
	.col-sm-offset-12{margin-left:100%}
	.col-sm-offset-11{margin-left:91.66666666666666%}
	.col-sm-offset-10{margin-left:83.33333333333334%}
	.col-sm-offset-9{margin-left:75%}
	.col-sm-offset-8{margin-left:66.66666666666666%}
	.col-sm-offset-7{margin-left:58.333333333333336%}
	.col-sm-offset-6{margin-left:50%}
	.col-sm-offset-5{margin-left:41.66666666666667%}
	.col-sm-offset-4{margin-left:33.33333333333333%}
	.col-sm-offset-3{margin-left:25%}
	.col-sm-offset-2{margin-left:16.666666666666664%}
	.col-sm-offset-1{margin-left:8.333333333333332%}
	.col-sm-offset-0{margin-left:0}
}
@media(min-width:992px){
	.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
	.col-md-12{width:100%}
	.col-md-11{width:91.66666666666666%}
	.col-md-10{width:83.33333333333334%}
	.col-md-9{width:75%}
	.col-md-8{width:66.66666666666666%}
	.col-md-7{width:58.333333333333336%}
	.col-md-6{width:50%}
	.col-md-5{width:41.66666666666667%}
	.col-md-4{width:33.33333333333333%}
	.col-md-3{width:25%}
	.col-md-2{width:16.666666666666664%}
	.col-md-1{width:8.333333333333332%}
	.col-md-pull-12{right:100%}
	.col-md-pull-11{right:91.66666666666666%}
	.col-md-pull-10{right:83.33333333333334%}
	.col-md-pull-9{right:75%}
	.col-md-pull-8{right:66.66666666666666%}
	.col-md-pull-7{right:58.333333333333336%}
	.col-md-pull-6{right:50%}
	.col-md-pull-5{right:41.66666666666667%}
	.col-md-pull-4{right:33.33333333333333%}
	.col-md-pull-3{right:25%}
	.col-md-pull-2{right:16.666666666666664%}
	.col-md-pull-1{right:8.333333333333332%}
	.col-md-pull-0{right:0}
	.col-md-push-12{left:100%}
	.col-md-push-11{left:91.66666666666666%}
	.col-md-push-10{left:83.33333333333334%}
	.col-md-push-9{left:75%}
	.col-md-push-8{left:66.66666666666666%}
	.col-md-push-7{left:58.333333333333336%}
	.col-md-push-6{left:50%}
	.col-md-push-5{left:41.66666666666667%}
	.col-md-push-4{left:33.33333333333333%}
	.col-md-push-3{left:25%}
	.col-md-push-2{left:16.666666666666664%}
	.col-md-push-1{left:8.333333333333332%}
	.col-md-push-0{left:0}
	.col-md-offset-12{margin-left:100%}
	.col-md-offset-11{margin-left:91.66666666666666%}
	.col-md-offset-10{margin-left:83.33333333333334%}
	.col-md-offset-9{margin-left:75%}
	.col-md-offset-8{margin-left:66.66666666666666%}
	.col-md-offset-7{margin-left:58.333333333333336%}
	.col-md-offset-6{margin-left:50%}
	.col-md-offset-5{margin-left:41.66666666666667%}
	.col-md-offset-4{margin-left:33.33333333333333%}
	.col-md-offset-3{margin-left:25%}
	.col-md-offset-2{margin-left:16.666666666666664%}
	.col-md-offset-1{margin-left:8.333333333333332%}
	.col-md-offset-0{margin-left:0}
}
@media(min-width:1200px){
	.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
	.col-lg-12{width:100%}
	.col-lg-11{width:91.66666666666666%}
	.col-lg-10{width:83.33333333333334%}
	.col-lg-9{width:75%}
	.col-lg-8{width:66.66666666666666%}
	.col-lg-7{width:58.333333333333336%}
	.col-lg-6{width:50%}
	.col-lg-5{width:41.66666666666667%}
	.col-lg-4{width:33.33333333333333%}
	.col-lg-3{width:25%}
	.col-lg-2{width:16.666666666666664%}
	.col-lg-1{width:8.333333333333332%}
	.col-lg-pull-12{right:100%}
	.col-lg-pull-11{right:91.66666666666666%}
	.col-lg-pull-10{right:83.33333333333334%}
	.col-lg-pull-9{right:75%}
	.col-lg-pull-8{right:66.66666666666666%}
	.col-lg-pull-7{right:58.333333333333336%}
	.col-lg-pull-6{right:50%}
	.col-lg-pull-5{right:41.66666666666667%}
	.col-lg-pull-4{right:33.33333333333333%}
	.col-lg-pull-3{right:25%}
	.col-lg-pull-2{right:16.666666666666664%}
	.col-lg-pull-1{right:8.333333333333332%}
	.col-lg-pull-0{right:0}
	.col-lg-push-12{left:100%}
	.col-lg-push-11{left:91.66666666666666%}
	.col-lg-push-10{left:83.33333333333334%}
	.col-lg-push-9{left:75%}
	.col-lg-push-8{left:66.66666666666666%}
	.col-lg-push-7{left:58.333333333333336%}
	.col-lg-push-6{left:50%}
	.col-lg-push-5{left:41.66666666666667%}
	.col-lg-push-4{left:33.33333333333333%}
	.col-lg-push-3{left:25%}
	.col-lg-push-2{left:16.666666666666664%}
	.col-lg-push-1{left:8.333333333333332%}
	.col-lg-push-0{left:0}
	.col-lg-offset-12{margin-left:100%}
	.col-lg-offset-11{margin-left:91.66666666666666%}
	.col-lg-offset-10{margin-left:83.33333333333334%}
	.col-lg-offset-9{margin-left:75%}
	.col-lg-offset-8{margin-left:66.66666666666666%}
	.col-lg-offset-7{margin-left:58.333333333333336%}
	.col-lg-offset-6{margin-left:50%}
	.col-lg-offset-5{margin-left:41.66666666666667%}
	.col-lg-offset-4{margin-left:33.33333333333333%}
	.col-lg-offset-3{margin-left:25%}
	.col-lg-offset-2{margin-left:16.666666666666664%}
	.col-lg-offset-1{margin-left:8.333333333333332%}
	.col-lg-offset-0{margin-left:0}
}	
/*标题*/	
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small{font-weight:normal;line-height:1;color:#999}
h1,h2,h3{margin-top:20px;margin-bottom:10px}
h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{font-size:65%}
h4,h5,h6{margin-top:10px;margin-bottom:10px}
h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{font-size:75%}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:18px}
h5{font-size:14px}
h6{font-size:12px}
/*表格*/
/*默认table*/
table{width:100%;empty-cells:show;background-color:transparent;border-collapse:collapse;border-spacing:0}
table th{text-align:left; font-weight:400}
/*带水平线*/
.table th{font-weight:bold}
.table th,.table td{padding:8px;line-height:20px}
.table td{text-align:left}
.table tbody tr.success > td{background-color:#dff0d8}
.table tbody tr.error > td{background-color:#f2dede}
.table tbody tr.warning > td{background-color:#fcf8e3}
.table tbody tr.info > td{background-color:#d9edf7}
.table tbody + tbody{border-top:2px solid #ddd}
.table .table{background-color:#fff}
 
/*带横向分割线*/
.table-border{border-top:1px solid #ddd}
.table-border th,.table-border td{border-bottom:1px solid #ddd}
 
/*th带背景*/
.table-bg thead th{background-color:#F5FAFE}
/*带外边框*/
.table-bordered{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;border-left:0}
.table-bordered th,.table-bordered td{border-left:1px solid #ddd}
.table-border.table-bordered{border-bottom:0}
 
/*奇数行背景设为浅灰色*/
.table-striped tbody > tr:nth-child(odd) > td,.table-striped tbody > tr:nth-child(odd) > th{background-color:#f9f9f9}
/*竖直方向padding缩减一半*/
.table-condensed th,.table-condensed td{padding:4px 5px}
/*鼠标悬停样式*/
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color: #f5f5f5}
/*定义颜色*/
/*悬停在行*/
.table tbody tr.active,.table tbody tr.active>td,.table tbody tr.active>th,.table tbody tr .active{background-color:#F5F5F5!important}
/*成功或积极*/
.table tbody tr.success,.table tbody tr.success>td,.table tbody tr.success>th,.table tbody tr .success{background-color:#DFF0D8!important}
 
/*警告或出错*/
.table tbody tr.warning,.table tbody tr.warning>td,.table tbody tr.warning>th,.table tbody tr .warning{background-color:#FCF8E3!important}
/*危险*/
.table tbody tr.danger,.table tbody tr.danger>td,.table tbody tr.danger>th,.table tbody tr .danger{background-color:#F2DEDE!important}
 
/*表格文字对齐方式，默认是居左对齐*/
.table .text-c th,.table .text-c td{text-align:center}/*整行居中*/
.table .text-r th,.table .text-r td{text-align:right}/*整行居右*/
.table th.text-l,.table td.text-l{text-align:left!important}/*单独列居左*/
.table th.text-c,.table td.text-c{text-align:center!important}/*单独列居中*/
.table th.text-r,.table td.text-r{text-align:right!important}/*单独列居右*/	

/*表单*/
/*默认状态*/
.input-text,.textarea{box-sizing:border-box;border:solid 1px #ddd;width:100%;
    -webkit-transition:all 0.2s linear 0s;
       -moz-transition:all 0.2s linear 0s;
         -o-transition:all 0.2s linear 0s;
            transition:all 0.2s linear 0s}
.textarea{ height:auto; font-size:14px; padding:4px}
.input-text:hover,.textarea:hover{border: solid 1px #3bb4f2}
/*得到焦点后*/
.input-text.focus,textarea.focus{border:solid 1px #0f9ae0 \9;border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}
/*不可点击*/
.input-text.disabled,.textarea.disabled,.input-text.disabled.focus,.textarea.disabled.focus{background-color:#ededed; cursor:default;border-color: #ddd;
	-webkit-box-shadow:inset 0 2px 2px #e8e7e7;
       -moz-box-shadow:inset 0 2px 2px #e8e7e7;
            box-shadow:inset 0 2px 2px #e8e7e7}
/*只读状态*/
.input-text.disabled,.textarea.disabled{background-color:#e6e6e6; cursor:default}
/*阴影*/
.input-text.box-shadow,.textarea.box-shadow{-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}

/*按钮*/
/*按钮*/
.btn{display:inline-block;cursor:pointer;text-align:center; font-weight:400;white-space:nowrap;vertical-align: middle;*zoom:1;-webkit-transition:background-color .1s linear;-moz-transition:background-color .1s linear;-o-transition:background-color .1s linear;transition:background-color .1s linear;}
a.btn:hover,a.btn:focus,a.btn:active,a.btn.active,a.btn.disabled,a.btn[disabled]{text-decoration:none}
.btn:active,.btn.active{background-color:#ccc}
.btn:first-child{*margin-left:0}
.btn.active,.btn:active{-moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;-webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset; box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;}
 
/*默认——灰色 通常用于取消*/
.btn-default{background-color:#e6e6e6}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active{color:#333;background-color:#c7c7c7;border-color:#c7c7c7}
 
/*主要——主色 通常用于确定、提交、购买、支付等*/
.btn-primary{color:#fff;background-color:#5a98de; border-color:#5a98de}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{color:#fff;background-color:#6aa2e0;border-color:#6aa2e0}
 
/*次要按钮*/
.btn-secondary{color:#fff;background-color:#3bb4f2; border-color:#3bb4f2}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active{color:#fff;background-color:#0f9ae0;border-color:#0f9ae0}
 
/*成功*/
.btn-success{color:#fff;background-color:#5eb95e; border-color:#5eb95e}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active{color:#fff;background-color:#429842;border-color:#429842}
 
/*警告*/
.btn-warning{color:#fff;background-color:#f37b1d; border-color:#f37b1d}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active{color:#fff;background-color:#c85e0b;border-color:#c85e0b}
 
/*危险*/
.btn-danger{color:#fff;background-color:#dd514c; border-color:#dd514c}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active{color:#fff;background-color:#c62b26;border-color:#c62b26}
 
/*链接*/
.btn-link{color:#0e90d2;cursor:pointer;border-color:transparent;background-color:transparent;}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active{color:#095f8a;text-decoration:underline;background-color:transparent}
 
/*禁用状态*/
.btn.disabled{cursor:not-allowed;background-image:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none; pointer-events:none;}
/*选项卡*/
.tabBar span {cursor: pointer;display: inline-block;float: left;font-weight: 300;height: 30px;line-height: 30px;padding: 5px 10px;border-top: 2px solid transparent;}
.tabBar span.current{color: #666;border-top:2px solid #1ABC9C;}
/*表格自适应*/

.tabCon {display: none;}